.products {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  padding: 0;
  margin: 2em;
}

.product {
  display: flex;
  flex-direction: row;
  text-align: left;
  border: 3px solid #333;
  overflow: hidden;
}

.product img {
  width: 100%;
}

.caption {
  font-size: 0.6em;
}
